<br/><br/><br/>

<div class="container" id="client-status">
  <% @serials.each do |serial| %>
    <%= button_tag(serial, type: 'button', class: 'btn-primary device-btn', id: serial) %>
  <% end %>
</div>
